pandas==2.2.3
numpy==2.2.2
matplotlib==3.10.0
scikit-learn==1.6.1
kneed==0.8.5
xgboost==2.1.4
matplotlib==3.7.1
joblib==1.2.0
openpyxl==3.1.5
padelpy==0.1.16
java==11.0.27
python==3.13.1
seaborn==0.13.2
statsmodels==0.14.4
standardscaler==0.5